<div class="row">
	<div class="col-xl-12">
		<div class="row row-full-height">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<kt-portlet [class]="'kt-portlet--height-fluid'">
					<kt-portlet-header [title]="'Pregunta X'">
					</kt-portlet-header>
					<kt-portlet-body>
						<div class="form-group form-group-last">
							<label for="exampleTextarea">Pregunta</label>
							<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
						</div>
						<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label>File Browser</label>
									<div></div>
									<div class="custom-file">
										<input type="file" class="col-12 custom-file-input" id="customFile" accept=".png,.pdf">
										<label class="custom-file-label" for="customFile">Choose file</label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label>Materia</label>
									<div></div>
									<div class="custom-file">
										<select class="form-control">
											<option>Matematicas</option>
											<option>Escritura</option>
											<option>Ingles</option>
										</select>
									</div>
								</div>
							</div>

						</div>
						<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
						<div class="row col-12">
							<div class="col-4">
								<label class="kt-option">
							<span class="kt-option__control">
								<span class="kt-radio kt-radio--bold kt-radio--brand" checked="">
									<input type="radio" name="m_option_1" value="1">
									<span>
									</span>
								</span>
							</span>
									<span class="kt-option__label">
								<span class="kt-option__head">
									<span class="kt-option__title">
										Respuesta
									</span>
								</span>
								<span class="kt-option__body">
									<div class="row">
										<input class="form-control" placeholder="pregunta"/>
									</div>
									<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
									<div class="row">
										<div class="custom-file">
											<input type="file" class="col-12 custom-file-input" id="customFile" accept=".png">
											<label class="custom-file-label" for="customFile">Choose file</label>
										</div>
									</div>
								</span>
							</span>
								</label>
							</div>
							<div class="col-4">
								<label class="kt-option">
							<span class="kt-option__control">
								<span class="kt-radio kt-radio--bold kt-radio--brand" checked="">
									<input type="radio" name="m_option_1" value="1">
									<span>
									</span>
								</span>
							</span>
									<span class="kt-option__label">
								<span class="kt-option__head">
									<span class="kt-option__title">
										Respuesta
									</span>
								</span>
								<span class="kt-option__body">
									<div class="row">
										<input class="form-control" placeholder="pregunta"/>
									</div>
									<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
									<div class="row">
										<div class="custom-file">
											<input type="file" class="col-12 custom-file-input" id="customFile" accept=".png">
											<label class="custom-file-label" for="customFile">Choose file</label>
										</div>
									</div>
								</span>
							</span>
								</label>
							</div>
							<div class="col-4">
								<label class="kt-option">
							<span class="kt-option__control">
								<span class="kt-radio kt-radio--bold kt-radio--brand" checked="">
									<input type="radio" name="m_option_1" value="1">
									<span>
									</span>
								</span>
							</span>
									<span class="kt-option__label">
								<span class="kt-option__head">
									<span class="kt-option__title">
										Respuesta
									</span>
								</span>
								<span class="kt-option__body">
									<div class="row">
										<input class="form-control" placeholder="pregunta"/>
									</div>
									<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg"></div>
									<div class="row">
										<div class="custom-file">
											<input type="file" class="col-12 custom-file-input" id="customFile" accept=".png">
											<label class="custom-file-label" for="customFile">Choose file</label>
										</div>
									</div>
								</span>
							</span>
								</label>
							</div>
						</div>



					</kt-portlet-body>
				</kt-portlet>
			</div>

		</div>
	</div>
</div>












<kt-portlet>
	<kt-portlet-body>
		<button class="btn btn-success">Guardar</button>
	</kt-portlet-body>
</kt-portlet>

